<h1>Simple Rails App</h1>

<p>Consectetur magni illo minus quaerat blanditiis doloremque provident. Omnis error eum ut doloremque nemo alias. Explicabo fuga voluptate deleniti labore itaque suscipit. Tempora veritatis necessitatibus esse suscipit ducimus laudantium enim?</p>

<h2>Some Posts</h2>
<ul class="posts">
<% @posts.each do |post| %>
  <li class="post">
    <strong><%= post.title %></strong>
    <p><%= post.body %></p>
  </li>
<% end %>
</ul>

