<h1>Simple Rails App</h1>

<p>Consectetur magni illo minus quaerat blanditiis doloremque provident. Omnis error eum ut doloremque nemo alias. Explicabo fuga voluptate deleniti labore itaque suscipit. Tempora veritatis necessitatibus esse suscipit ducimus laudantium enim?</p>
